<div class="container22 h-90 w-full  bg-red-600 flex items-center justify-center py-7 px-12 hidden-section " id="about">
    <div class="About flex justify-center items-center flex-col gap-5" >
        <h1 class="text-white font-bold text-3xl text gradient-text ">
            Rahma Samy
        </h1>
        <h3 class="leading-7 text-white gradient-text-about text-lg">
            Enthusiastic entry-level front-end developer graduated from Computer and Artificial intelligence Cairo university with a passion for creating engaging and user-friendly websites. Proficient in HTML, CSS, and JavaScript, I am dedicated to learning and adapting to the dynamic world of web development.Open to collaboration and excited about honing my craft in a supportive team environment.

            Thrilled to share that my graduation project stands as a testament to my dedication and skills. I led a team in developing the process of ventilation for ventilator [pressure ventilator prediction], which was recognized as the best in our class with grade A+. We tackled [prediction pressure of air challenges] by implementing innovative solutions using [data analysis,Ml,Dl, embedded systems,front end]. The project not only showcased my technical prowess in areas like [Ml,Dl, front end, embedded] but also demonstrated effective collaboration and problem-solving. Eager to leverage the experience gained from this success in future endeavors. Let's connect and discuss the journey behind creating something truly remarkable!
             
        </h3>
    </div>
</div>
