/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif !important;
    
}
ul li {
    list-style: none;
    margin-left: 10px;
}
a {
     text-decoration: none !important;
   
}
.container {
    margin: 0 auto;
 
}
.container2 {
    margin: 170px auto;
    max-width: 1500px;
    outline: 0px solid white;
    height: 400px;
   
}
.container22 {
    width: 100%;
    margin: 170px 0;
    max-width: 1850px;
    outline: 0px solid white;
    height: 450px;
   
}
.skills-container-section {
    margin-top: 850px !important;
}
.cardspacing {
    margin-bottom: 20px;
}
.gradient-text {
    background: linear-gradient(to right, #000000, #3b1515,#420303) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }
.gradient-text-about{
    background: linear-gradient(to right, #cacaca, #fffafa,#929292);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
.hidden-section {
        animation: fadeIn 1.5s ease-out 1s forwards;
        opacity: 0; 
      }

.heightofcard {
        height: 300px !important;
      }
@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
